// colors
$main-color: #ebdfb7;
$main-bg: #353535;
$main-grey: #353535;
$sec-grey: #555;
$light-grey: #a3a3a3;
$main-white: #fff;
$main-black: #000;
$main-red: #8b0000;

// borders
$main-border-radius: 1.25rem;

// transition
$main-duration: 500ms;
